body{
  font-family:sans-serif;
  background:#f4f6fb;
  text-align:center;
  margin:0;
}

.container{
  max-width:700px;
  margin:auto;
  padding:20px;
}

.screen{margin-top:40px;}

.hidden{display:none;}

.logo{
  width:280px;
  cursor:pointer;
  margin-bottom:20px;
}

.menu button{
  display:block;
  width:220px;
  margin:10px auto;
  padding:12px;
  font-size:18px;
}

.blocks button{
  margin:5px;
  padding:10px;
  font-size:18px;
}

.answer{
  min-height:40px;
  border:2px dashed #aaa;
  margin:20px;
  padding:10px;
}

li{
  list-style:none;
  margin:5px;
}
